html, body {
    height: 100%;
}

body {
}

#board {
    height: 100%;
    padding-top: 5px;
}

#swimlanes {
    height: 100%;
    
}

.header {
    
    font-size: 18pt;
    margin-left: 8px;
    margin-bottom: 10px;
    margin-top: 2px;

}

h1 {
    margin: 5px;
}

h2 {
    margin-bottom: 8px;
}

.swimlane {
    float: left;
    display: inline-block;
    margin: 0px 10px;
    padding: 10px;
    width: 200px;
    height: 85%;
    border-style: solid;
    border-width: 1px;
    border-color: #cecece;
    border-radius: 15px;
    background-color: lightsteelblue;
}

.boardItem {
    display: block;
    margin: 5px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #cecece;
    border-radius: 5px;
    background-color: whitesmoke;
    line-height: 120%;
}

.boardItem textarea {
    width: 90%;
    height: 90%;
    min-height: 50px;
    font-size: 12px;
    display: block;
}

.editLink {
    font-size: 9px;
    float: right;
    position: relative;
    top: -5px;
    right: -5px;
}

.selected {
    border-width: 3px;
    border-color: #999;
}