html, body {
    height: 100%;
}

body {
}

#board {
    height: 100%;
    padding-top: 5px;
}

#swimlanes {
    height: 100%;
}

h1 {
    margin: 5px;
}

h2 {
    margin-bottom: 8px;
}

.swimlane {
    float: left;
    display: inline-block;
    margin: 0px 10px;
    padding: 10px;
    width: 200px;
    height: 85%;
    border-style: solid;
    border-width: 1px;
    border-color: #cecece;
}

.boardItem {
    display: block;
    margin: 5px;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #cecece;    
}