<div class="header">WeenyBoard</div>
﻿<h1 data-bind="text: name"></h1>

<div id="board">
  <ol id="swimlanes" data-bind="foreach: swimLanes">
    <li class="swimlane">
      <h2 data-bind="text: name"></h2>

      <ol data-bind="foreach: items">
        <li class="boardItem"> 
          <!-- ko if: isEditing  -->
          <textarea type="text" data-bind="value: description, executeOnEnter: endEdit, executeOnEscape: endEdit, valueUpdate: 'afterkeydown'"></textarea>
          <!-- /ko -->

          <!-- ko ifnot: isEditing  -->
          <a href="#" class="editLink" data-bind="click: beginEdit">edit</a>
          <span data-bind="text: description"></span>
          <!-- /ko -->
        </li>
      </ol>
    </li>
  </ol>
</div>

@section header
{
  <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/board.css")" />
}

@section scripts
{
  <script type="text/javascript" src="@Url.Content("~/Scripts/Board/board.js")"></script>
}
