<div class="header">WeenyBoard</div>

<div id="board">
  <ol id="swimlanes" data-bind="foreach: lanes">
    <li class="swimlane">
      <h2 data-bind="text: name"></h2>

      <ol data-bind="foreach: items">
        <li class="boardItem" data-bind="text: description"></li>
      </ol>
    </li>
  </ol>
</div>

@section header
{
  <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/board.css")" />
}

@section scripts
{
  <script type="text/javascript" src="@Url.Content("~/Scripts/Board/board.js")"></script>
}
